<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>金融加后台管理--网站用户列表</title>
    
    </head>
  <body>

    #parse("common/header.vm")
	<script src="/manage/resources/js/admin/user.js"></script>

    <div class="container-fluid">
      <div class="row">
		
		#parse("common/nav.vm")
        
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
			<h3 class="page-header">用户管理 &nbsp; > &nbsp; 网站用户列表</h3>
		
			########### Tabs ################
			<ul class="nav nav-tabs">
    		  <li id="tabManagerUser" style="margin-left:30px;"><a href="/manage/usr/list">后台用户</a></li>
    		  <li id="tabWebsiteCfp"><a href="/manage/usr/website/list?type=1">理财师</a></li>
			  <li id="tabWebsiteInvest"><a href="/manage/usr/website/list?type=0">投资者</a></li>
    		</ul>
			<br>
		
			#############center content##############
			 
			 <div class="table-responsive">
    	    	
     			<form class="form-inline" id="searchForm" action="/manage/usr/website/list" method="get">
     			 <input type="hidden" name="pageSize" value="$!pageInfo.pageBean.pageSize"/>
				  <input type="hidden" name="type" id="type" value="$!type"/>
    			  <div class="form-group">
    			    ##<label class="sr-only" for="dspId">DSP</label>
    			    <input type="text" class="form-control" id="searchText" name="searchText" placeholder="请输入用户的登录名、真实姓名或手机号" value="$!userSearchText" style="width:350px;hidth:30px">
    			  </div>
				  #if($!type != 0)
    				  <select name="approveStatus" style="width:130px" class="form-control" id="approveStatus">
    					 <option value="-1" #if($!{approveStatus}=="-1") selected #end>全部理财师</option>
    					 <option value="0" #if($!{approveStatus}=="0") selected #end>待审核</option>
    					 <option value="1" #if($!{approveStatus}=="1") selected #end>审核通过</option>
    					 <option value="2" #if($!{approveStatus}=="2") selected #end>审核失败</option>
    				  </select>
					  <select name="cardStatus" style="width:130px" class="form-control" id="cardStatus">
    					 <option value="-1" #if($!{cardStatus}=="-1") selected #end>全部理财师</option>
    					 <option value="1" #if($!{cardStatus}=="1") selected #end>已上传名片</option>
    					 <option value="2" #if($!{cardStatus}=="2") selected #end>未上传名片</option>
    				  </select>
				  #end
    			  <button type="submit" class="btn btn-default">我搜</button>
				
    			</form>
    		</div>
    		<br/>
    		
    		<div class="table-responsive" style="min-height:360px;">
              	<table class="table table-striped table-bordered table-hover" id="adbaseTable">
              		<thead>
    					<tr>
    						<th width="100">登录ID</th>
    						<th width="150">真实姓名</th>
    						<th width="150">电子邮件</th>
							<th width="150">手机号</th>
							<th width="100">用户类型</th> 
							<th width="100">直接推荐人</th>
							<th width="100">审核状态</th>
							#if($!type==1)<th width="100">名片状态</th>#end
							<th width="100">状态</th>
							<th width="150">注册时间</th>
    						<th width="150">操作</th>
    					</tr>
    				</thead>
					
    				<tbody>
                  	#foreach($usrVo in $!{pageInfo.result})
                  		<tr>
                  			<td style="vertical-align:middle">$!{usrVo.loginId}</td>
                  			<td style="vertical-align:middle">$!{usrVo.realName}</td>
							<td style="vertical-align:middle">$!{usrVo.email}</td>
							<td style="vertical-align:middle">$!{usrVo.mobile}</td>
							<td style="vertical-align:middle">
								#if($!usrVo.type == 1) 
									理财师   
								#elseif($!usrVo.type == 2) 
									网站主  
								#else  
									投资者  
								#end
							</td>
							<td style="vertical-align:middle">$!{usrVo.usrIdReferLoginId}</td>
							<td style="vertical-align:middle">
								#if($!{usrVo.isApproved} == 0)
									待审核
								#elseif($!{usrVo.isApproved} == 1)
									审核通过
								#else
									审核失败
								#end
							</td>
							#if($!type==1)<td style="vertical-align:middle">
								$!{usrVo.isCard}
							</td>
							#end
                  			<td style="vertical-align:middle">
								#if($!usrVo.status == 1) <font color="green">正常</font>  
								#elseif($!usrVo.status == 2) <font color="red">停用</font> 
								#elseif($!usrVo.status == 3) <font color="red">已删除</font>  
								#elseif($!usrVo.status == 4) <font color="red">已锁定</font>  
								#end
							</td>
							<td style="vertical-align:middle">$!date.format('yyyy-MM-dd HH:mm:ss',$!usrVo.createTime)</td>
    						<td style="vertical-align:middle">
								<a href="/manage/usr/website/detail/$!{usrVo.id}?type=$!{type}">查看</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    							#if($!usrVo.status == 1)
									<a href="javascript:;" onclick="return stop('$!{usrVo.id}', '$!{usrVo.loginId}')">停用</a>
								#elseif($!usrVo.status == 2)
									<a href="javascript:;" onclick="return start('$!{usrVo.id}', '$!{usrVo.loginId}')">启用</a>
								#end								
    						</td>
                  		</tr>
                  	#end
                  	</tbody>
					
    			</table>
    		</div>

			#############center content##############
			<script src="/manage/resources/js/pagination.js"></script>
			#pageByPageNumbar($pageInfo, 'searchForm', '/manage/usr/website/list', 'GET')
			
		</div>
		
      </div>
	  
      <div class="footer">
		 #parse("common/footer.vm")
      </div>
    </div>
  </body>
</html>
