<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> </title>
	
	<link href="/manage/resources/css/product.css" rel="stylesheet">
		
  <body>

    #parse("common/header.vm")
	
    </head>

    <div class="container-fluid">
      <div class="row">
		
		#parse("common/nav.vm")
        <input type="hidden" name="url" id="url" value="$!{url}"/>
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
			<h3 class="page-header">ClientMng &nbsp; > &nbsp; #if($!ad.id) edit  #else new  #end Client</h3>
			
			###########################
			<div>
				
				<form class="form-horizontal" id="productForm" method="post" action="/manage/ClientMng/save">
    				<input type="hidden" name="id" id="id" val="$!{ad.id}" value="$!{ad.id}"/>
    				<input type="hidden" name="url" value="$!{url}"/>
					  
					#if ($!errMsg)
						<div>
							<center><span><font style="color:red">$!errMsg</font></span></center>
						</div>
					#end
			     <div class="form-group">
    				    <label for="clientName" class="col-sm-2 control-label"><font style="color:red">*</font>Case Name</label>
    				    <div class="col-sm-10">
							<input type="text" class="form-control" id="clientName" maxlength="60" name="clientName" value="$!{ad.name}">
    				    </div>
			     </div>
			      
    			    
   			  

			        <div class="form-group">
    				    <label for="email" class="col-sm-2 control-label"><font style="color:red">*</font>Personal Infomation</label>
    				    <div class="col-sm-10">	
							<input name="personalinfofile" id="uploadpersonalinfo" type="file">
							<input type="hidden" name="personalInfo" id="personalInfo"  value=""/>
							
				   		 </div> 
                     </div>					 
			   <div class="form-group">
    				    <label for="email" class="col-sm-2 control-label"><font style="color:red">*</font>Background Infomation</label>
    				    <div class="col-sm-10">	
							<input name="backgroundinfofile" id="uploadbackgroundinfo" type="file">
							<input type="hidden" name="backgroundInfo" id="backgroundInfo"  value=""/>
							
				   		 </div> 
                     </div>	

					<div class="form-group">
                        <center>
    				    <div class="col-sm-10">
							<input type="submit" class="btn btn-primary" value="submit" onclick="return checkSubmit();">&nbsp;&nbsp;
    						#if($!product.id)
    							<input type="reset" class="btn btn-primary" val="reset">&nbsp;&nbsp;
    						#end
    						<button type="button" class="btn btn-default" id="btnBack" name="btnBack">return</button>&nbsp;&nbsp;
    				    </div>
						</center>
				  	</div>
				</form>
			</div>
    		
		###################
			
		</div>
		
      </div>
	  
      <div class="row">
		 #parse("common/footer.vm")
      </div>
	  
    </div>
	
	<!-- 富文本编辑器 -->
	#parse("umeditor/index.vm")
	
	<script type="text/javascript" src="/manage/resources/js/jquery.validate.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/manage/resources/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="/manage/resources/js/admin/client.js" charset="UTF-8"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script type="text/javascript" src="/manage/resources/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="/manage/resources/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<link href="/manage/resources/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
		
	<!--图片上传-->
	<script src="/manage/resources/js/jquery.imgareaselect.pack.js" type="text/javascript"></script>
    <script src="/manage/resources/js/jquery.form.js" type="text/javascript"></script>

		
    <script type="text/javascript">
		var um = UM.getEditor('productEditor');//加载百度编辑器
		$('.form_datetime').datetimepicker({
            language:  'zh-CN',
            todayBtn:  1,
    		autoclose: true,
    		format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式 
        });

    </script>
	
  </body>
</html>
