<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>金融加后台管理--cps对账</title>
    
    </head>
  <body>

    #parse("common/header.vm")
	
	<link href="/manage/resources/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
	<script src="/manage/resources/js/jquery.validate.min.js"></script>
	<script src="/manage/resources/datetimepicker/bootstrap-datetimepicker.js"></script>
	<script src="/manage/resources/js/admin/cps.js"></script>

    <div class="container-fluid">
      <div class="row">
		
		#parse("common/nav.vm")
        
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
			<h3 class="page-header">cps对账 &nbsp;供应商详情页</h3>
			
	
    	    <div class="table-responsive">
				<div style="float:right">
					#if($!errMsg)
        				<span align="center"><font color="red">$!errMsg</font></span>
        			#end
    			</div>
    	    	
     			<form class="form-inline" id="searchForm" action="/manage/cps/list/per/$!{prvId}" method="get">
     			  <input type="hidden" name="pageSize" value="$!pageInfo.pageBean.pageSize"/>
    			  <div class="form-group">
    			      ##<label class="sr-only" for="dspId">DSP</label>
					  <input type="text" class="form-control" style="width:230px;" id="searchText" name="searchText" placeholder="产品名称" value="$!prdName">
					  <input type="text" class="form-control" id="startTime" name="startTime" value="$!startTime" data-date-format="yyyy-mm-dd hh:ii:ss" placeholder="投资时间下限">
					  <input type="text" class="form-control" id="endTime" name="endTime" value="$!endTime" data-date-format="yyyy-mm-dd hh:ii:ss" placeholder="投资时间上限">
				  </div>
    			  <button type="submit" id="btn_search_file" class="btn btn-primary">我搜</button>
    			</form>
    		</div>
    		<br/>
			
    		<div class="table-responsive">
              	<table class="table table-striped table-bordered table-hover" id="adbaseTable">
              		<thead>
    					<tr>
    						<th width="10%">供应商</th>
							<th width="5%">用户</th>
							<th width="7%">跳转产品</th>
							<th width="11%">实际购买产品ID</th>
							<th width="8%">投资金额</th>
							<th width="8%">投资期限</th>
							<th width="9%">购买时间</th>
    						<th width="9%">年化收益率</th>
							<th width="9%">开始计息日</th>
							<th width="9%">产品到期日</th>
							<th width="7%">订单ID</th>
    					</tr>
    				</thead>
    				<tbody id="cashTableBodys">
                  	#foreach($obj in $!{pageInfo.result})
                  		<tr>
							<td style="vertical-align:middle">$!{obj.prvName}</td>
							<td style="vertical-align:middle">$!{obj.loginId}</td>
							<td style="vertical-align:middle">$!{obj.prdName}</td>
							<td style="vertical-align:middle">$!{obj.prvPrdIdAct}</td>
							<td style="vertical-align:middle">$!{obj.investAmount}元</td>
							
							#if($!{obj.investDurationUnit} ==1)
								<td style="vertical-align:middle">$!{obj.investDuration}天</td>
							#elseif($!{obj.investDurationUnit} ==2)
								<td style="vertical-align:middle">$!{obj.investDuration}个月</td>
							#else
								<td style="vertical-align:middle">$!{obj.investDuration}年</td>
							#end
							<td style="vertical-align:middle">$date.format('yyyy-MM-dd HH:mm:ss', $!{obj.purchaseTime})</td>
							<td style="vertical-align:middle">$!{obj.returnRate}%</td>
							<td style="vertical-align:middle">$date.format('yyyy-MM-dd HH:mm:ss', $!{obj.startDate})</td>
							<td style="vertical-align:middle">$date.format('yyyy-MM-dd HH:mm:ss', $!{obj.endDate})</td>
                  			<td style="vertical-align:middle">$!{obj.ordId}</td>
						
                  		</tr>
                  	#end
                  	</tbody>
    			</table>
    		</div>
			
		###################
		<script src="/manage/resources/js/pagination.js"></script>
		#pageByPageNumbar($pageInfo, 'searchForm', "/manage/cps/list/per/${prvId}", 'GET')
		#if($!{sum})
			投资总额:$!{sum}
		#end
		</div>
		
      </div>
	  
      <div class="row">
		 #parse("common/footer.vm")
      </div>
    </div>
  </body>
</html>
