<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SUCCESS GLOBAL - CRM</title>
	
	<link href="/manage/resources/css/style.css" rel="stylesheet" type="text/css"/>
	
	<script type="text/javascript" src="/manage/resources/js/jquery-1.9.1.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/manage/resources/js/admin/login.js" charset="UTF-8"></script>
    </head>
  <body>
	<div class="main">
		<div class="login-form">
			<h1>SUCCESS GLOBAL - CRM</h1>
			<div class="head"><img src="/manage/resources/image/user.png" alt=""/></div>
			<form action="/manage/j_spring_security_check" method="post" >
				<input type="text" class="text" id="username" name="username" value="USER NAME" maxlength="30" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'username';}" />
				<input type="password" id="password" name="password" placeholder="PASSWORD" maxlength="30"/>
				<div class="submit"><input id="submit" type="submit" value="LOGIN"></div>	
				<p id="loginMessage" style="color:red;">#if ($!loginMessage) $!{loginMessage} #end</p>
				<p><a href="javascript:;">forget password?</a></p>
			</form>
		</div>
		<div class="copy-right"><p>Copyright ©2016。XXXXXXXXXX</p> </div>
	</div> 
	
  </body>
</html>
