<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>金融加后台管理-- #if($!provVo.id) 修改  #else 新建  #end 供应商</title>
    
    </head>
  <body>

    #parse("common/header.vm")

    <div class="container-fluid">
      <div class="row">
		
		#parse("common/nav.vm")
        
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
			<h3 class="page-header">供应商管理 &nbsp; > &nbsp; #if($!provVo.id) 修改  #else 新建  #end 供应商</h3>
			
			###########################
    	     <div>
				<form class="form-horizontal" id="livePrvForm" name="livePrvForm" action="/manage/live/prv/save" method="post" enctype="multipart/form-data">
				  <input type="hidden" name="id" id="id" value="$!{provVo.id}"/>
				  #if ($!errMsg)
					 <div>
    				    <center><span><font style="color:red">$!errMsg</font></span></center>
    				  </div>
				  #end
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>名称</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="name" name="name" value="$!provVo.name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="fullName" class="col-sm-2 control-label"><font style="color:red">*</font>全称</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="fullName" name="fullName" value="$!provVo.fullName">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="status" class="col-sm-2 control-label"><font style="color:red">*</font>供应商状态</label>
				    <div class="col-sm-10">
				      	<select id="status" name="status" style="width:150px" class="form-control">
				      		<option value="1" #if($!{provVo.status} == 1) selected #end>正常</option>
				      		<option value="2" #if($!{provVo.status} == 2) selected #end>停用</option>
				      		#if($!{provVo.assetVal}==0)
				      		<option value="3" #if($!{provVo.status} == 3) selected #end>已删除</option>
				      		#end
				      	</select>
				    </div>
				  </div>
				  <div class="form-group">
					<center>
						<br>
    				    <div class="col-sm-10">
    						<input type="submit" class="btn btn-primary" value="确定" onclick="return doPrvLiveSave(true)">&nbsp;&nbsp;
    						#if($!provVo.id)
    							<input type="reset" id="btnReset" name="btnReset" class="btn btn-primary" value="重置">&nbsp;&nbsp;
    						#end
    						<button type="button" class="btn btn-default" id="btnBack" name="btnBack">返回</button>&nbsp;&nbsp;
    				    </div>
					</center>
				  </div>
				  
				</form>
			</div>
    		
		###################
	    
		</div>
		
      </div>
	  
      <div class="row">
		 #parse("common/footer.vm")
      </div>
    </div>
	
	#parse("umeditor/index.vm")
	
	<script src="/manage/resources/js/jquery.validate.min.js"></script>
	<script src="/manage/resources/js/jquery.form.min.js"></script>
	<script src="/manage/resources/js/admin/live/live.js"></script>
    <script src="/manage/resources/js/jquery.form.js" type="text/javascript"></script>
  </body>
</html>
