<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>金融加后台管理-- #if($!assetVo.id) 修改  #else 新建  #end 资产</title>
    
    </head>
  <body>

    #parse("common/header.vm")

    <div class="container-fluid">
      <div class="row">
		
		#parse("common/nav.vm")
        
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
			<h3 class="page-header">资产管理 &nbsp; > &nbsp; #if($!assetVo.id) 修改  #else 新建  #end 资产</h3>
			
			###########################
    	     <div>
				<form class="form-horizontal" id="liveAssetForm" name="liveAssetForm" action="/manage/live/asset/save" method="post" enctype="multipart/form-data">
				  <input type="hidden" name="id" id="id" value="$!{assetVo.id}"/>
				  <input type="hidden" name="url" value="$!{url}"/>
				  #if ($!errMsg)
					 <div>
    				    <center><span><font style="color:red">$!errMsg</font></span></center>
    				  </div>
				  #end
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>资产名称</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="name" name="name" value="$!assetVo.name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>合同编号</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="contractId" name="contractId" value="$!assetVo.contractId">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>资产类型</label>
				    <div class="col-sm-10">
				    #if($!assetVo.id)
				       <input type="hidden" class="form-control" id="type" name="type" value="$!assetVo.type">
				    	<input type="text" readOnly class="form-control" id="typeText" name="typeText"
				    	#if($!{assetVo.type} == 1) value="债权转让" 
				    	#elseif($!{assetVo.type} == 2) value="收益权转让"
				    	 #end >
				    #else	
				      <select id="type" name="type"  class="form-control">
				      		<option value="1" #if($!{assetVo.type} == 1) selected #end>债权转让</option>
				      		<option value="2" #if($!{assetVo.type} == 2) selected #end>收益权转让</option>
				      </select>
				    #end
				    </div>
				  </div>
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>资产规模</label>
				    <div class="col-sm-10">
				      <input type="text" #if($!{assetVo.type} == 2) readOnly #end class="form-control" id="amountExp" name="amountExp" value="$!assetVo.amountExp">
				    </div>
				  </div>
				   #if($!assetVo.id)
				   <div id="amountDiv" #if($!{assetVo.type} == 2) style="display:none;" #end> 
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red"></font>已匹配金额</label>
				    <div class="col-sm-10">
				      <input type="text" readOnly style="color:red" class="form-control" id="havedAmount" name="havedAmount" value="$!assetVo.havedAmount">
				    </div>
				  </div>
    			  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red"></font>已放款金额</label>
				    <div class="col-sm-10">
				      <input type="text" readOnly class="form-control" id="amountLoan" name="amountLoan" value="$!assetVo.amountLoan">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red"></font>已还款金额</label>
				    <div class="col-sm-10">
				      <input type="text" readOnly class="form-control" id="amountRep" name="amountRep" value="$!assetVo.amountRep">
				    </div>
				  </div>
				  </div>
				 		
    			  #end
				  <div class="form-group form-inline">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>资产期限</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" style="width:400px" id="duration" name="duration" value="$!assetVo.duration">
				      <select id="durationUnit" name="durationUnit" style="width:150px" class="form-control">
				     	    <option value="2" #if($!{assetVo.durationUnit} == 2) selected #end>月</option>
				      		<option value="1" #if($!{assetVo.durationUnit} == 1) selected #end>天</option>
				      		<option value="3" #if($!{assetVo.durationUnit} == 3) selected #end>年</option>
				      </select>
				    </div>
				  </div>
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>收益率(%)</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="returnRate" name="returnRate" value="$!assetVo.returnRate">
				    </div>
				  </div><div class="form-group">
				    <label for="name" class="col-sm-2 control-label">借款人姓名</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="loaneeName" name="loaneeName" value="$!assetVo.loaneeName">
				    </div>
				  </div>
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label">借款人身份证号码</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="loaneeIdno" name="loaneeIdno" value="$!assetVo.loaneeIdno">
				    </div>
				  </div>
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>债权(人/组织)姓名</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="lenderName" name="lenderName" value="$!assetVo.lenderName">
				      说明： 如果是基金类资产，请填写基金名称
				    </div>
				  </div>
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label">债权(人/组织)代码</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="lenderIdno" name="lenderIdno" value="$!assetVo.lenderIdno">
				    </div>
				  </div>
				  
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>资产来源</label>
				    <div class="col-sm-10">
				      <select name="prvId"  id="prvId" class="form-control">
								#foreach($prov in $!{provList})
									<option value="$!{prov.id}" #if($!{assetVo.prvId} == $!{prov.id}) selected #end>	
									#if(${prov.name.length()} > 64)
										${prov.name.substring(0,64)}...
									#else
										$!{prov.name}
									#end
									</option>
								#end
    				</select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>付息方式</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="repayment" name="repayment" value="$!assetVo.repayment">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>放款方式</label>
				    <div class="col-sm-10">
				      <select id="paidType" name="paidType" class="form-control">
				      		<option value="1" #if($!{assetVo.paidType} == 1) selected #end>一次性放款</option>
				      		<option value="2" #if($!{assetVo.paidType} == 2) selected #end>分期放款</option>
				      </select>
				    </div>
				  </div>
				   <div class="form-group">
				    <label for="name" class="col-sm-2 control-label"><font style="color:red">*</font>资产状态</label>
				    <div class="col-sm-10">
				      <select id="status" name="status" class="form-control">
				      		<option value="1" #if($!{assetVo.status} == 1) selected #end>正常</option>
				      		<option value="4" #if($!{assetVo.status} == 4) selected #end>已放款</option>
				      </select>
				    </div>
				  </div>
				  <div class="form-group" #if($!{assetVo.type} == 2 )style="display:none"#end id="d_asset_for">
				    <label for="purpose" class="col-sm-2 control-label"><font style="color:red">*</font>资金用途</label>
				    <div class="col-sm-10">
				      <textarea  class="form-control" id="purpose" name="purpose" >$!{assetVo.purpose}</textarea>
				    </div>
				  </div>
				  #if($!assetVo.id)	
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label">实际放款金额</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="amountAct" name="amountAct" value="$!assetVo.amountAct">
				    </div>
				  </div>				 		
    			  #end
				  <div class="form-group">
					<center>
						<br>
    				    <div class="col-sm-10">
    						<input type="submit" class="btn btn-primary" value="确定" onclick="return doAssetLiveSave(true)">&nbsp;&nbsp;
    						#if($!assetVo.id)
    							<input type="reset" id="btnReset" name="btnReset" class="btn btn-primary" value="重置">&nbsp;&nbsp;
    						#end
    						<button type="button" class="btn btn-default" id="btnBack" name="btnBack">返回</button>&nbsp;&nbsp;
    				    </div>
					</center>
				  </div>
				  
				</form>
			</div>
    		
		###################
	    
		</div>
		
      </div>
	  
      <div class="row">
		 #parse("common/footer.vm")
      </div>
    </div>
	
	#parse("umeditor/index.vm")
	
	<script src="/manage/resources/js/jquery.validate.min.js"></script>
	<script src="/manage/resources/js/jquery.form.min.js"></script>
	<script src="/manage/resources/js/admin/live/live.js"></script>
    <script src="/manage/resources/js/jquery.form.js" type="text/javascript"></script>
	<script>$("#type").change(function(){if($("#type").val()==2){$("#d_asset_for").hide()}else{$("#d_asset_for").show()}})</script>
  </body>
</html>
